.bg {
    background-image: url(../images/bg.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size:cover;
    min-width: 100vw;
    min-height: 100%;
    opacity: 0.5;
    /* filter: grayscale(100%); */
    width: 100%;
    height: auto;
    
    position: fixed;
    top: 0;
    left: 0;
}

.gamewrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    color: rgb(63, 58, 58);
    position: relative;
}
.Gamename {
    width: 100%;
    text-align: center;
}
.playerChoice {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.player-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 110vh;
}
.player-wrap > p {
    margin: 0;
    font-weight: bold;
}
input {
    width: 15rem;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    border-radius: 12px;
}
/* choices for the players */
select {
    width: 16.2rem;
    font-size: 1rem;
	padding: 0.5rem 0.5rem;
	border: none;
	border-radius: 12px;
	-moz-appearance: none;
	-webkit-appearance: none;
    background-image: url(../images/arrow.svg);
    background-color:#838282 ;
	background-repeat: no-repeat;
	background-position: right .7rem top 50%, 0 0;
    background-size: .65rem auto, 100%;
    color: white;
}

/* player versus player card */
.card {
  min-width: 30vw;
  background-image: url(../images/pcard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 16px 0 rgba(83, 50, 50, 0.2);
  height: 80vh;
  padding: 1rem 1rem;
  border-radius: 12px;
  color:white;
}
.card-content {
    display: none;
    font-weight: bold;

}
.fa-arrow-left {
    color:maroon;
}
.player {
    text-align: center;
}
.info-list {
    width: 80%;
}

/* style progressbar */
.hpbar {
  display: block; /* default: inline-block */
  width: 300px;
  padding: 4px;
  border: 0 none;
  background: #444;
  border-radius: 14px;
  flex-direction: row;
}
.hpbar::-moz-progress-bar {
  border-radius: 12px;
  background: linear-gradient(#DC143C, #800020,#8B0000);
}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .hpbar {
    height: 25px;
  }
}
.hpbar::-webkit-progress-bar {
    background: transparent;
}  
.hpbar::-webkit-progress-value {  
  border-radius: 12px;
  background:linear-gradient(#DC143C, #800020,#8B0000);
}

.log {
    text-align: center;
    display: none;
    overflow: auto;
    max-height: 60vh;
    max-width: 25vw;
}

button {
    border:none;
    background-color: #838282;
    margin-right: 0.2rem;
    color:white;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    min-width: 5rem;
    max-width: 5rem;
    margin: 0.1rem;
    /* cursor: url(../pictures/cursors/8-bit\ mace\ 1.cur),auto; */
}
.imagee {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;

}
img {
    height: 20vh;
    margin: 1rem;
}
#create {
    margin-bottom: 1rem;
}
table {
    width: 90%;
}
table,tr,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
}








































/* reset */
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
    padding: 0;
}