body {
    background-color: rgb(179, 170, 170);
    display: block;
    padding: 1rem;
    text-align: center;
    font-family: 'Staatliches', cursive;
}


.img {
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
}
